    /*
    Flaticon icon font: Flaticon
    Creation date: 15/06/2017 13:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-clipboard:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-zoom:before { content: "\f105"; }
.flaticon-survey:before { content: "\f106"; }
.flaticon-settings:before { content: "\f107"; }
.flaticon-runer-silhouette-running-fast:before { content: "\f108"; }
.flaticon-question-mark-cursor:before { content: "\f109"; }
.flaticon-printer-with-document-coming-out-of-machine:before { content: "\f10a"; }
.flaticon-graphic:before { content: "\f10b"; }
.flaticon-error-triangle:before { content: "\f10c"; }
.flaticon-herbal-spa-treatment-leaves:before { content: "\f10d"; }
.flaticon-health-care:before { content: "\f10e"; }
.flaticon-biology-shape:before { content: "\f10f"; }
.flaticon-user-talking-with-speech-bubble:before { content: "\f110"; }
    
    $font-Flaticon-clipboard: "\f100";
    $font-Flaticon-arrows-1: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-close: "\f103";
    $font-Flaticon-menu: "\f104";
    $font-Flaticon-zoom: "\f105";
    $font-Flaticon-survey: "\f106";
    $font-Flaticon-settings: "\f107";
    $font-Flaticon-runer-silhouette-running-fast: "\f108";
    $font-Flaticon-question-mark-cursor: "\f109";
    $font-Flaticon-printer-with-document-coming-out-of-machine: "\f10a";
    $font-Flaticon-graphic: "\f10b";
    $font-Flaticon-error-triangle: "\f10c";
    $font-Flaticon-herbal-spa-treatment-leaves: "\f10d";
    $font-Flaticon-health-care: "\f10e";
    $font-Flaticon-biology-shape: "\f10f";
    $font-Flaticon-user-talking-with-speech-bubble: "\f110";