	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/06/2017 13:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-clipboard:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-zoom:before { content: "\f105"; }
.flaticon-survey:before { content: "\f106"; }
.flaticon-settings:before { content: "\f107"; }
.flaticon-runer-silhouette-running-fast:before { content: "\f108"; }
.flaticon-question-mark-cursor:before { content: "\f109"; }
.flaticon-printer-with-document-coming-out-of-machine:before { content: "\f10a"; }
.flaticon-graphic:before { content: "\f10b"; }
.flaticon-error-triangle:before { content: "\f10c"; }
.flaticon-herbal-spa-treatment-leaves:before { content: "\f10d"; }
.flaticon-health-care:before { content: "\f10e"; }
.flaticon-biology-shape:before { content: "\f10f"; }
.flaticon-user-talking-with-speech-bubble:before { content: "\f110"; }