/*Main Css*/
body { margin: 0px; padding: 0px; font-family: 'Asap', sans-serif; font-size: 16px; font-weight: 400; color: #3e4043; }
body, html, #root, .App { height: 100%; }
a, img { border: 0px; outline: none; }
h1, h2, h3, h4, h5, h6, p { margin: 0px; padding: 0px; }
ul, li { list-style: none; margin: 0px; padding: 0px; }
a:focus { color: #3A9FF3; text-decoration: none; }
a:hover { color: #81C424; text-decoration: none; }
/*Header Start*/
header { background-color: #fff; width: 100%; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15); padding: 10px 0px; z-index: 2; position: relative; }
header .blue_btn { background-color: #3a9ff3; border: 1px solid #3a9ff3; color: #fff; float: right; font-size: 17px; min-width: 100px; padding: 4px 12px 9px; cursor: pointer; overflow: hidden; height:auto;}
header .blue_btn:hover, header .blue_btn:focus { border-color: #81c424; }
header button i { padding-left: 10px; }
/*Header Start*/

/*page container*/
.page-title { font-size: 22px; font-weight: 400; color: #000; letter-spacing: -1px; border-bottom: 1px solid #dadada; line-height: 20px; padding-bottom: 15px; position: relative; }
.page-title::before { background: #3a9ff3 none repeat scroll 0 0; bottom: -1px; content: ""; height: 2px; left: 0; position: absolute; width: 60px; }
.back { float: left; margin-top: 10px; width: 18%; }
.back a { color: #a6a6a6; font-size: 14px; }
.back a:hover { color: #000; }
.breadcrumb { background-color: transparent; margin: 10px 0px 30px 0px; padding: 0px; text-align: right; }
.breadcrumb-item { color: #a6a6a6; font-size: 14px; font-weight: 400; float: none; display: inline-block; }
.breadcrumb-item a { color: #656565; }
.breadcrumb-item a:hover { color: #000; }
.breadcrumb-item + .breadcrumb-item::before { color: #a6a6a6; }
/*footer*/
footer { background-color: #323232; text-align: center; font-size: 12px; line-height: 38px; color: #fff; width: 100%; }
/*common css*/
.blue_btn { background-color: #3a9ff3; height:35px; border: 1px solid #3a9ff3; color: #fff; font-size: 16px; min-width: 100px; padding: 0px 10px; cursor: pointer; overflow: hidden; }
.blue_btn:hover{background-color:#81C424;border-color:#81C424;}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) { width: 100%; }
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after { margin-left: 0px; font-weight: normal; }
.mt-30 { margin-top: 30px; }
.toggle_radio .m0 { margin: 0px; }
.btn.focus, .btn:focus { box-shadow : none; }
button, input, optgroup, select, textarea { font-family: 'Asap', sans-serif; letter-spacing: 0; }
.bootstrap-select > .dropdown-toggle { border: 1px solid #ddd; background-color: #fafafa; }
.bootstrap-select > .dropdown-toggle:focus { background-color: #fff; }
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #b2b2b2;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #b2b2b2;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
 color: #b2b2b2;
}
.form-control:-moz-placeholder { /* Firefox 18- */
 color: #b2b2b2;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option { color: #bcbcbc; }
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select:focus { border: 1px solid #ddd; outline: 0 !important; outline-offset: 0; }
.dropdown-menu { border: 1px solid #ddd; }
.dropup .dropdown-toggle::after { background-image: none; }
.pr-10 { padding-right: 10px; }
.pl-10 { padding-left: 10px; }
.form-group { margin-bottom: 2rem; }
.form-control { background-color: #fafafa; }
input[type="text"] { font-size: 15px; height: 40px; color: #b2b2b2; }
.green-btn { background-color: #81c424; color: #fff; font-size: 16px; font-weight: 500; height: 45px; min-width: 145px; padding: 0 10px; text-transform: uppercase; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); cursor: pointer; }
.green-btn:hover { border-color: #3A9FF3; }
.btn-rt { float: right; }
.bootstrap-select.show>.dropdown-menu>.dropdown-menu { display: block; }
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden { display: none; }
.bootstrap-select > .dropdown-menu > .dropdown-menu li a { display: block; width: 100%; padding: 0.2rem 1rem; clear: both; font-weight: 400; color: #292b2c; text-align: inherit; white-space: nowrap; background: 0 0; border: 0; }
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover { background-color: #81c424; color: #fff; }
.table{margin-bottom:0px;}
.table th, .table td {
  font-size: 15px;
  font-weight: 600; padding:6px 8px; vertical-align:middle;white-space: nowrap;
}
.table td {
  font-weight: 400;
}
.thead-default th{background-color: #f5f5f5;color:#3e4043;}
.table td button.btn {
  background:none;
  border: 0 none;
  padding: 0 5px 0 0; cursor:pointer;
}
.table td button.edit {
  color: #389ef3;
}
.table td button.delete {
  color: #ff3e61;
}
.table td button.btn:hover{color:#81C424;}
/*checkbox*/
.checkbox-custom { opacity: 0; position: absolute; }
.checkbox-custom, .checkbox-custom-label { display: inline-block; vertical-align: middle; cursor: pointer; }
.checkbox-custom-label { position: relative; padding-left: 30px; }
.label-sm { font-size: 14px; }
.checkbox-custom + .checkbox-custom-label::before { border: 2px solid #ddd; content: ""; display: inline-block; height: 20px; left: 0; margin-right: 10px; padding: 0; position: absolute; text-align: center; vertical-align: middle; width: 20px; top: 7px; }
.checkbox-custom:checked + .checkbox-custom-label:before { content: "\f00c"; font-family: 'FontAwesome'; background: #3A9FF3; color: #fff; border-color: #3A9FF3; line-height: 16px; }
/* Switch button */
.btn-default.btn-on.active { background-color: #3a9ff3; color: #fff; }
.btn-default.btn-off.active { background-color: #3a9ff3; color: #fff; }
.toggle-switch label { height: 40px; line-height: 37px; margin: 0; min-width: 90px; padding: 0; border-radius: 0px; -webkit-border-radius: 0px; font-size: 16px; font-weight: 500; border: 1px solid #3a9ff3; border-radius: 0.25rem; -webkit-border-radius: 0.25rem; cursor: pointer; }
/*Radio*/
.radio-custom { opacity: 0; position: absolute; }
.radio-custom, .radio-custom-label { display: inline-block; vertical-align: middle; margin: 0px; cursor: pointer; }
.radio-custom-label { position: relative; }
.radio-custom + .radio-custom-label:before { content: ''; background: #fff; border: 2px solid #ddd; display: inline-block; vertical-align: middle; width: 20px; height: 20px; padding: 2px; margin-right: 10px; text-align: center; }
.radio-custom + .radio-custom-label:before { border-radius: 50%; }
.radio-custom:checked + .radio-custom-label:before { background: #3a9ff3; box-shadow: inset 0px 0px 0px 3px #fff; }
.radio-btn { margin-bottom: 0.5rem; }
/*After Login Popup*/
.modal-bg { background-image: url("../images/modal-bg.jpg"); background-size: cover; background-position: center 100%; font-family: "Work Sans", sans-serif; letter-spacing: -1px; color: #fff; text-align: center; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); padding-left: 15px; padding-right: 15px; }
.modal-bg .modal-header { padding: 30px 15px; position: relative; border: 0px; }
.modal-bg h5 { color: #fff; font-size: 35px; font-weight: 700; margin: 0 auto; }
.modal-bg .modal-header h5 span { display: inline-block; float: left; line-height: 35px; padding-top: 47px; }
.modal-bg i.close { color: rgba(255, 255, 255, 0.4); font-size: 14px; position: absolute; right: 0; top: 15px; }
.modal-bg .modal-body { padding: 0px 15px; }
.modal-bg .modal-body P { font-size: 18px; padding: 0px 0px 20px 0px; }
.modal-bg .modal-body P font { display: block; font-size: 20px; font-weight: 600; }
.modal-bg .modal-footer { border: 0px; text-align: center; padding-bottom: 30px; }
.start_btn { background-color: #fff; min-width: 240px; height: 55px; padding: 0px 10px; color: #00b4ff; font-size: 22px; font-weight: 600; text-align: center; text-transform: uppercase; font-family: "Work Sans", sans-serif; margin: 0px auto; cursor: pointer; }
.start_btn:hover { border-color: #81C424; }
/*my myeloma page*/
.myeloma_content h5 { color: #389ef3; font-size: 20px; font-weight: 600; line-height: 22px; margin-bottom: 30px; }
.myeloma_content > p { line-height: 22px; padding-bottom: 20px; }
.dnt-kn label.btn:last-child { min-width: 130px; }
/*Fish test page*/
.upload_btn { margin-top: 2rem; }
.static-col { width: 26%; padding: 0px 15px; }
.upload_btn button.btn { background-color:rgba(0, 0, 0, 0.4); color: #fff; font-family: "Work Sans", sans-serif; font-size: 14px; font-weight: 600; height: 50px; letter-spacing: -0.3px; padding-left: 50px; text-align: center; text-transform: uppercase; position: relative; width: 100%; white-space: normal; padding-right: 5px; cursor: pointer; padding-top: 0px; padding-bottom: 0px; }
.upload_btn button.btn i { border-right: 1px solid rgba(0, 0, 0, 0.10); display: block; left: 0; line-height: 46px; position: absolute; top: 0; width: 45px; height: 100%; }
.upload_btn button.btn [class^="flaticon-"]::before, .upload_btn button.btn [class*=" flaticon-"]::before, .upload_btn button.btn [class^="flaticon-"]::after, .upload_btn button.btn [class*=" flaticon-"]::after { font-size: 21px; }
.upload_btn button.btn:hover { border-color: #81C424; }
/* my treatment*/
.treatment form button.blue_btn {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  height: 35px;
  margin-bottom: 20px;
  min-width: 80px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.treatment form button.blue_btn i {
  float: left;
  padding-top: 1px;
}
.treatment form button.blue_btn span {
  float: left;
  padding-left: 6px;
  padding-top: 3px;
}
.treatment h5 {
  margin-bottom: 10px;
}
.treatment p {
  padding-bottom: 40px;
}
