
html,body{height: 100%;}
body{font-family: 'Raleway', sans-serif; }
.mainContainer {
  color: #333333;
  height: 100%;position: relative;
}
.mainContainer:before {
    background: #383838;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 70px;
    width: 85px;
}

.right_con {
  text-align:right;
  color:#fff;
  float:right;padding:15px;
}
.header{background-color:#0088cc;float: left;width: 100%;padding:10px 5px;}
h1{margin-top:0px !important;}
.right_con span{padding:0px 15px;}
.side_nav{padding:25px 0px;}
.side_nav span i{color:#fff;font-size:18px;}
.side_nav span{text-align:center;display:block;padding:20px 15px;}
.right_con1{float:left;width:100%;}
.patient_dv h2{font-size:24px;color:#333333;border-bottom:1px solid #dddddd;margin:0px;padding:20px;}
.bottom_con{float:left;width:100%;background-color:#f7f7f7;padding:30px;}
.wpad_0{background-color: hsl(0, 0%, 22%);
    height: 100%;
    padding: 0;
    position: absolute;
    top:0px;
    width: 85px;
    z-index: 1;}
.first_tab{float:left;width:100%;padding: 5px 0px;}
.txtbx1 label,.txtbx2 label,.txtbx3 label{
  font-weight:normal;
  font-size:13px;
  }
.txtbx1,.txtbx2,.txtbx3{
  padding:5px 0;
}
.first_tab .txtbx1 input{display:block;width:100%;height:34px;padding:0px 10px;border-radius:4px;border-radius: 4px;border:1px solid #ccc;}
.name li a{color:#777777;font-size:16px;cursor: pointer;font-weight: bold;padding: 10px 15px 10px;}

.name li a.active{color:#0088CC !important;}
.tab_layout{float:left;width:100%;background-color:#fff;}
.first_tab .txtbx2 input,.first_tab .txtbx3 input{display:block;width:100%;height:34px;padding:0px 10px;}
.star{position: absolute;right: 16px;top: 30px;width: 0; height: 0; border-top: 22px solid #777777; border-left: 22px solid transparent;}
.txtbx1 .form-group{position: relative;}
.txtbx3 .form-group{position: relative;}
.star i{color: hsl(0, 0%, 100%);
    position: absolute;
    right: 4px;
    top: -22px;}
.nav_ul{padding-left:0px; }
.nav_ul li a{display: block;
    padding: 15px;
    text-align: center;color: #fff;}
.nav_ul li a{font-size: 20px;position: relative;}
.nav_ul li a:hover{background-color: #2e2e2e;}
.name .nav-item a.active{border-bottom:2px solid #0088cc;}
.nav_ul li a:hover::before {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #2e2e2e;
  border-top: 8px solid transparent;
  content: "";
  position: absolute;
  right: -7px;
  top: 21px;
}

.radio1 p{display: inline-block;margin-right: 15px;}
.radio1 label{display: block;}
.radio1 span{padding-right: 20px;}

.txtbx3 div {display: block !important;}
.dropdown.show .dropdown-menu{display: block !important;}
.txtbx3 input{
 background-color: hsl(0, 0%, 100%);
    background-image: none;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.075) inset;
    color:#000;
    font-size: 14px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.check_dv{
    /*border-top: 1px solid #dddddd;*/
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 15px;
    text-align: center;
    width: 98%;}
.check_dv h2{color: #686868;font-size: 16px;display: inline-block;}
.check_dv button,.check_dv button:hover,.check_dv button:active,.check_dv button:focus{background-color: #f58035 !important;border-color: #f58035 !important;margin-left: 15px;font-size: 16px;font-weight: bold;}
.bottom_dv{float: left;width: 100%;text-align: center;}
.cal1{position: absolute;right: 15px;top: 33px;color: #0088cc;}
.wpad_1{ float: none;
    padding: 0 0 0 85px;
    width: 100%;}
.clear{ clear: both; }
.patient_btn,.patient_btn:hover,.patient_btn:active,.patient_btn:focus{background-color: #f58035 !important;border-color: #f58035 !important;margin-right: 15px;font-size: 16px;font-weight: bold;}
.cancel_btn,.cancel_btn:hover,.cancel_btn:active,.cancel_btn:focus{background-color: #999999 !important;border-color: #999999 !important;font-size: 16px;font-weight: bold;}
.bottom_dv_inner{padding: 40px 20px;margin: 0px;border-bottom: 1px solid #dddddd;}
.footer{text-align: center;float: left;width: 100%;padding: 25px 0px;color: #686868;}
.footer p{margin-bottom: 0px;}
.name > li > a:hover, .name > li > a:active{border-bottom:2px solid #0088cc !important;background:transparent;border-color:transparent;color: #0088cc;}
.right_con span a{color: #fff;text-decoration: none;}
.mainContainer1 a i{padding-right: 5px;}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0088cc;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.form-group{margin-bottom: 0px;}

.main_con{float: left;width:100%;position: relative;}
.age{display: block;}
.txtbx1 label i{font-size: 20px;}
span.yr_dv{display: block;padding: 7px 0px;}
.redColor{color: red;font-size: 12px;}
.errorClass{border:1px solid red !important}
.formControl{border:1px solid #ccc !important}
.dropdownDesign{height: 34px; color: #757575; width: 100%; border-radius:3px; -webkit-border-radius:3px; border:1px solid #999;}
.successCls{color: green; text-align: right;}
.check_btn{padding: 4px 21px}

/*   7 july 2017  */
.upload_dv input{border: none !important;padding: 0px !important;}
.patient_dv h2.sub_head{border: none !important;font-size: 16px; padding:10px 15px; }
.txtbx1 .check_patient{padding:0px 32px 15px;}
.check_patient input{margin-right: 10px;float: left;margin-top: 2px;}
.radio_dv label{margin-right: 10px;}
.main_con {
    /*background: hsl(0, 0%, 22%) none repeat scroll 0 0;*/
    float: left;
    width: 100%;
}

/*-----------second tab--------------*/

.patient_dv h2.sub_head1{border: none !important;font-size: 16px;padding:10px 15px;float: left;}
.patient_dv{float: left;width: 100%;background-color: #fff;}
.patient_check{float: right;font-size: 12px;font-weight: 400;margin-top: 10px;padding:0px 15px;}
.patient_check input{margin-right: 10px;float: left;margin-top: 2px;}
.add_option{margin-top: 35px;}
.phn_text{margin-top: 5px;}
.add_option i{color: hsl(23, 91%, 58%);padding-right: 7px;font-size: 17px;}
.add_option a{color: hsl(0, 0%, 20%);text-decoration: none;}
.phone1 h2{font-size: 14px;text-align: right;margin: 0px;}
.phone1 h3{font-size: 14px;margin: 0px;}
.add_option1{margin-top: 0px;}
.sec_tab{padding:10px 0px;}

/*-----------10/7/2017(patient search page)-----------------*/
.fl_left_back{float: left;background-color: #fff;}
.patient_dv1{background-color: hsl(0, 0%, 100%);float: left;width: 100%; border-bottom: 1px solid hsl(0, 0%, 87%);color: hsl(0, 0%, 20%);margin: 0;padding: 0px 30px;}
.patient_dv1 .head_drop{float: right;}
.patient_dv1 .patient_dv{float: left;width: auto;}
.patient_dv1 .head_drop{width: 300px;}
.patient_dv1 .head_drop > div {float: right;width: 180px;}
.patient_dv1 .head_drop > span{float: left;padding: 26px 0 17px;}
.check_pt{padding: 10px 17px 0;}
.add_pat button{ background-color: hsl(23, 91%, 58%);border-color: hsl(23, 91%, 58%);font-size: 16px;font-weight: 700;margin-left: 15px;}
.add_pat{padding: 0px 17px;text-align: right;}
.add_pat button:hover,.add_pat button:focus,.add_pat button:active{background-color: hsl(23, 91%, 58%) !important;border-color: hsl(23, 91%, 58%) !important;}
.pad_rl{padding: 15px 17px;}
.top_pat_head{padding-left: 15px;padding-right: 15px;}
.top_pat_head h2{margin:0px;font-size: 16px;border-bottom: 1px solid hsl(0, 0%, 87%);padding-bottom: 10px;}
.top_pat_head span{font-size: 14px;}


/*--------------11/7/2017(Listing page)----------------------*/
.top_pat_head.list_top_pad{padding-top: 15px;padding-bottom: 15px;}

/*--------------11/7/2017(patient profile page)----------------------*/
.profile_right{float: left;width: 100%;padding:10px;}
.profile_right .profile_p{font-weight: bold;}
.profile_right .profile_p span{font-weight: normal;margin-left: 15px;}
.profile_bottom{float: left;width:100%;}
.profile_left{text-align: center;padding:10px;}
.profile_btm{float: left;width: 100%;padding: 10px;}
.profile_btm button{margin-right: 5px;}
.profile_btm > p{padding: 8px 0px;}
.patient_name{font-weight: bold}
.loading_img{
    position: fixed;
    top: 48% !important;
    z-index: 9999;
    left: 48%;
    width: 100px;
}

/*-------------------12/7/2017(patient listing)-----------------*/

.outer_listing{width: 100%;float: left;padding-right: 15px;padding-left: 15px; background-color:#fff;}
.outer_listing .top_pat_head h2{border:none;}
.inner_frst_listing{padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid hsl(0, 0%, 87%);}
.inner_frst_listing input{
border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    display: block;
    height: 34px;
    width: 100%;padding:0px 10px;}
.label_list label{display: none;}
.inner_frst_listing button{width: 150px;margin:0px;margin-right: 10px;}
.outer_listing .add_pat{padding:10px 17px;}
.add_pat_table{float: left;width: 100%;}
.add_pat_table table > thead > tr > th{background-color: #aaaaaa;color: #fff;}
.pagination{width:auto;text-align:center;}
.pagination ul li a{color:#37c7be;}

.lpad{padding-left: 3px}
.crsr_pointer{cursor: pointer}
.react-datepicker {
  font-size: 1.3rem !important;
}
.react-datepicker__current-month {
  font-size: 1.5rem !important;
}
.react-datepicker__header {
  padding-top: 6px !important;
}
.react-datepicker__navigation {
  top: 13px !important;
}
.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}
.back_to_search {text-align: right; font-size: 12px}
.patient_detail{
    font-weight: bold;padding-top: 6px;
}
.vital_dv{padding:10px;background-color: #cecece;font-weight: bold;}


@media(max-width:768px)
{
  .res_wpad_0{float: left;position: static;}
  .res_wpad_1{float: left;padding: 0px;}
  .res_add_option{margin-top: 0px;}
  .first_tab.sec_tab > div{width: 33% !important;float: left;}
  .res_left{float: left;}
  .inner_frst_listing{padding-bottom: 10px;}

}

@media(max-width:768px) and (min-width: 460px)
{
      .res_wpad_0{width: 12%;}
  .res_wpad_1{width: 88%;}
}

@media(max-width:460px)
{
    .header .right_con{padding:0px;margin-top: 15px;}
    .header .right_con span{padding:0px 5px;}
    .res_wpad_0{width: 15%;}
  .res_wpad_1{width: 85%;}
  .bottom_con.res_bottom_con{padding: 5px;}
  .bottom_con.res_bottom_con ul li{width: 100%;text-align: center;}
  .res_check_dv{padding: 10px;}
  .res_bottom_dv_inner{padding: 10px 0px;margin-top: 10px;}
  .res_bottom_dv_inner button,.res_bottom_dv_inner button:hover {font-size: 12px;margin-bottom: 10px;}
  .res_check_dv button,.res_check_dv button:hover{font-size: 12px;}

  .profile_btm button {display: block;margin: 10px auto;}
}
